.categoryList {
  padding: 20px;
  width: 80%;
  background-color: #f5f5f5
}

.categoryList table {
  table-layout: fixed;
  width: 100%;
}

.categoryListRow:hover {
  background-color: #efefef
}

.categoryInput {
  width: 100%;
  box-sizing: border-box;
  padding:6px 8px;
}

/* Name Column */
.categoryList th:nth-child(1),
.categoryList td:nth-child(1) {
  padding: 8px 12px;
  width: 20%;
  text-align: left;
}

/* Display Name Column */
.categoryList th:nth-child(2),
.categoryList td:nth-child(2) {
  padding: 8px 12px;
  width: 20%;
  text-align: left;
}

/* Color Column */
.categoryList th:nth-child(3),
.categoryList td:nth-child(3) {
  padding: 8px 12px;
  width: 20%;
  text-align: left;
}

/* BudgetLimit Column */
.categoryList th:nth-child(4),
.categoryList td:nth-child(4) {
  padding: 8px 12px;
  width: 20%;
  text-align: left;
}

/* Action Column */
.categoryList th:nth-child(5),
.categoryList td:nth-child(5) {
  padding: 8px 12px;
  width: 20%;
  text-align: left;
}

.categoryActions {
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.buttonRow {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-left: 12px;
}