.categoryList {
  padding: 20px;
  width: 80%;
  background-color:#a52a2a;
  font-size: calc(10px + 1vmin);
}

.categoryList h2 {
  text-align: center;
}

.categoryList table {
  table-layout: fixed;
  width: 100%;
}

/* Name Column */
.categoryList th:nth-child(1),
.categoryList td:nth-child(1) {
  width: 25%;
  text-align: left;
}

/* Display Name Column */
.categoryList th:nth-child(2),
.categoryList td:nth-child(2) {
  width: 25%;
  text-align: left;
}

/* Color Column */
.categoryList th:nth-child(3),
.categoryList td:nth-child(3) {
  width: 25%;
  text-align: left;
}

/* BudgetLimit Column */
.categoryList th:nth-child(4),
.categoryList td:nth-child(4) {
  width: 25%;
  text-align: left;
}

.categoryList tbody tr:hover {
  background-color: #ea6c6c;
}

.validationError {
  color: #b80202
}