.transactionList {
  padding: 20px;
  width: 80%;
  background-color: #f5f5f5
}

.transactionList table {
  table-layout: fixed;
  width: 100%;
}

.transactionListRow:hover {
  background-color: #efefef
}

/* Date Column */
.transactionList th:nth-child(1),
.transactionList td:nth-child(1) {
  padding: 8px 12px;
  width: 15%;
  text-align: left;
}

/* Amount Column */
.transactionList th:nth-child(2),
.transactionList td:nth-child(2) {
  padding: 8px 12px;
  width: 10%;
  text-align: right;
}

/* Description Column */
.transactionList th:nth-child(3),
.transactionList td:nth-child(3) {
  padding: 8px 12px;
  width: 35%;
  text-align: left;
}

.descriptionInput {
  width: 100%;
  box-sizing: border-box;
  padding:6px 8px;
}

/* Category Column */
.transactionList th:nth-child(4),
.transactionList td:nth-child(4) {
  padding: 8px 12px;
  width: 15%;
  text-align: left;
}

.categorySelect {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 8px;
}

/* Transaction Type Column */
.transactionList th:nth-child(5),
.transactionList td:nth-child(5) {
  padding: 8px 12px;
  width: 15%;
  text-align: left;
}

.transactionTypeSelect {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 8px;
}

/* Split/Delete Column */
.transactionList th:nth-child(6),
.transactionList td:nth-child(6) {
  padding: 8px 12px;
  width: 10%;
  text-align: left;
}

.transactionActions {
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.transactionActions:hover {
  color: #000
}

.buttonRow {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-left: 12px;
}