.app {
  background-color: #13151a;
  color: white;
  min-height: 100vh;
}

.mainContent {
  flex: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}