.app {
  /*(background-color: #13151a;*/
  background-color: #a52a2a;
  color: #000000;
  min-height: 100vh;
}

.mainContent {
  flex: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}